<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sreich.countthedays">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">

            <!-- android:label="@string/title_activity_main" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".SettingsActivity"
                android:label="@string/title_activity_settings">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>

                <!--<data android:type=""></data>-->

                <category android:name="android.intent.category.DEFAULT"/>
                <!-- The OPENABLE category declares that the returned file is accessible
                     from a content provider that supports OpenableColumns
                     and ContentResolver.openFileDescriptor() -->
                <category android:name="android.intent.category.OPENABLE"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".NewCounterActivity"
                android:label="@string/title_activity_new_counter"
                android:parentActivityName=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="sreich.countthedays.MainActivity"/>
        </activity>

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="sreich.countthedays.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepaths"/>
        </provider>
    </application>

</manifest>